<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="/stylesheet/simplyApp_Style.css">
</head>
<div id="centered">
    <h1 class="errorMessage">{{errorMessage}}</h1>
    <form method="post" action="/">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <input class="buttonStyle" type="submit" value="Submit" >
    </form>
</div>
</html>